#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem; 
    height: 98vh;
    width: 4rem;
    background-color: white;
    
}

#navbar .nav-items ul{
    list-style-type: none;
}

#navbar .nav-items ul li a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    line-height: 0.9;
    text-align: center;
}